@media all and (max-width: 1600px) {
    .logo {
        position: unset !important;
        transform: unset;
    }

    .header-area .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    nav ul {
        float: right;
    }
}

@media all and (max-width: 1400px) {
    .new-code {
        width: 100%;
    }

    .new-code {
        top: 10%;
        transform: unset;
    }
}

@media all and (max-width: 1200px) {
    .logo a h1 {
        color: #000 !important;
        /* Avoid using !important if possible */
        font-size: 23px;
        margin: 0;
        padding: 0;
    }

    .booking-page .booking-form-container {
        display: flex !important;
    }

    #yui_3_17_2_1_1721028986214_530,
    .container h1 {
        font-size: 51px;
    }

}

@media all and (min-width: 992px) {
    .menu {
        display: block !important;
    }


}


@media all and (max-width: 992px) {
    .header-area {
        position: relative;
    }

    .menu {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .menus,
    .close-btn {
        font-size: 28px;
    }

    nav ul {
        position: absolute;
        flex-direction: column;
        z-index: 500000;
        background: rgba(241, 239, 231, 0.9);
        width: 100%;
        top: 100%;
        left: 0;
        padding: 30px;
    }

    nav ul li a {
        font-size: 25px;
        padding-top: 1rem;
        z-index: 100000;
    }

    .booking-page .booking-form-container {
        display: block !important;
    }

    .cart-2 {
        display: block !important;
    }

    .cart-1 {
        display: none !important;
    }

    .booking-page.questions-content .container:last-of-type {
        position: unset;
        width: unset !important;
        transform: unset;
        margin: 0;
        margin-top: 20px;
    }
    #yui_3_17_2_1_1721028986214_530,
    .container h1 {
        font-size: 41px;
    }


    .booking-page .form-content {
        padding-bottom: 10px;
    }

    .booking-page .questions-content {
        padding-left: 10px;
        border: none;
    }
}

@media all and (max-width: 768px) {

    .outer-container {
        padding: 0;
    }

    .new-code {
        top: 0;
    }
    #yui_3_17_2_1_1721028986214_530,
    .container h1 {
        font-size: 32px;
        margin-top: 10px;
    }

    label {
        font-size: 14px;
    }

    .booking-page .extras-group {
        grid-template-columns: repeat(3, 1fr) !important;
    }
    .footer-area{
        flex-direction: column;
    }
    .footer-left{
        width: unset !important;
        margin-bottom: 40px;
    }
    .footer-right{
        width: unset !important;
    }

}

@media all and (max-width: 576px) {
    .booking-page.booking-section {
        margin: 0;
    }

    .booking-page .booking-form-container {
        width: 95%;
    }

    .container h1 {
        font-size: 22px;
        padding: 5px;
    }

    .booking-page .extras-group {
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .booking-page .form-group,
    .booking-page .frequency-group,
    .booking-page .entry-group,
    .booking-page .parking-group {
        display: block;
    }

    .booking-page .radio-item {
        margin-top: 1rem;
    }

}

@media all and (max-width: 400px) {
    .booking-page .extras-group {
        grid-template-columns: repeat(1, 1fr) !important;
    }
}
